<div class="calendar">
    <div class="calendar__heading">
        <h2>The nearest trips calendar</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione culpa laborum?
        </p>
    </div>
    <div class="schedule">
        <div class="schedule__block">
            <a scrollTo href="#annapurna">
                <h2>1</h2>
                <p>March</p>
                <p>2018</p>
                <p>Annapurna mountain</p>
            </a>
        </div>
        <div class="schedule__block">
            <a scrollTo href="#broad">   
                <h2>3</h2>
                <p>March</p>
                <p>2018</p>
                <p>Broad Peak</p>
            </a> 
        </div>
        <div class="schedule__block">
            <a scrollTo href="#gasherbrum">
                <h2>6</h2>
                <p>March</p>
                <p>2018</p>
                <p>Gasherbrum I</p>
            </a>
        </div>
        <div class="schedule__block">
            <a scrollTo href="#teram">
                <h2>10</h2>
                <p>March</p>
                <p>2018</p>
                <p>Teram Kangri I</p>
            </a>
        </div>
        <div class="schedule__block">
            <a scrollTo href="#ismoil">
                <h2>12</h2>
                <p>March</p>
                <p>2018</p>
                <p>Ismoil Somoni Peak</p>
            </a>
        </div>
        <div class="schedule__block">
            <a scrollTo href="#sunanda">
                <h2>15</h2>
                <p>March</p>
                <p>2018</p>
                <p>Sunanda Devi / Nanda Devi East</p>
            </a>
        </div>
        <div class="schedule__block">
            <a scrollTo href="#yukshin">
                <h2>18</h2>
                <p>March</p>
                <p>2018</p>
                <p>Yukshin Gardan Sar</p>
            </a>
        </div>
        <div class="schedule__block">
            <a scrollTo href="#everest">
                <h2>24</h2>
                <p>March</p>
                <p>2018</p>
                <p>Mount Everest</p>
            </a>
        </div>
    </div>   
</div>
<div class="about-trips">
    <div class="about-trips__heading">
        <h1>About trips</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, maiores omnis iusto laboriosam est, dignissimos accusamus repellendus earum debitis, quae rem obcaecati ducimus harum labore!</p>
    </div>
    <div class="about-trips__item trip">
        <div class="trip__block" id="annapurna">
            <div class="trip__img annapurna">Annapurna</div>
            <div class="trip__body">
                <p>1st March 2018</p>
                <h2>Trip to the Annapurna mountain</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="broad">
            <div class="trip__img broad-peak"></div>
            <div class="trip__body">
                <p>3st March 2018</p>
                <h2>Amazing trip to the Broad Peak</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="gasherbrum">
            <div class="trip__img gasherbrum">Gasherbrum I</div>
            <div class="trip__body">
                <p>6st March 2018</p>
                <h2>Journey to Gasherbrum I</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="teram">
            <div class="trip__img teram">Teram Kangri I</div>
            <div class="trip__body">
                <p>10st March 2018</p>
                <h2>Trip to the Teram Kangri I</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="ismoil">
            <div class="trip__img ismoil">Ismoil Somoni Peak</div>
            <div class="trip__body">
                <p>12st March 2018</p>
                <h2>Group trip to the Ismoil Somoni Peak</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="sunanda">
            <div class="trip__img sunanda">Sunanda Devi / Nanda Devi East</div>
            <div class="trip__body">
                <p>15st March 2018</p>
                <h2>Amazing trip to the Sunanda Devi / Nanda Devi East</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="yukshin">
            <div class="trip__img yukshin">Yukshin Gardan Sar</div>
            <div class="trip__body">
                <p>18st March 2018</p>
                <h2>Yukshin Gardan Sar</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
        <div class="trip__block" id="everest">
            <div class="trip__img everest">Mount Everest</div>
            <div class="trip__body">
                <p>24st March 2018</p>
                <h2>Great Mount Everest</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
            </div>
        </div>
    </div>
</div>