<div class="home">
    <div class="home__greeting">
        <h1>Through the mountains</h1>
        <p>Mountain expeditions</p>
    </div>
</div>
<div class="introduce">
    <h2> Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, laboriosam perferendis praesentium quam sequi excepturi. 
    Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet.</p>
</div>
<div class="reasons">
    <div class="reasons__item reason-1">
        <div class="reason-1__item">
            <h2>Complex trip</h2>
            <p>— №1 —</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, dolor? Lorem ipsum, dolor sit 
            amet consectetur adipisicing elit. Natus, optio. Lorem ipsum dolor, sit amet consectetur.</p>
        </div>
        <div class="reason-1__photo">
        </div>
    </div>
    <div class="reasons__item advantages">
        <div class="advantages__item advantage">
            <div class="advantage__photo">
                <img [src]="'assets/map.png'" alt="">
            </div>
            <div class="advantage__text">
                <h3>The best routes</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
        </div>
        <div class="advantages__item advantage">
            <div class="advantage__photo">
                <img [src]="'assets/flag.png'" alt="">
            </div>
            <div class="advantage__text">
                <h3>Get the mountains peak</h3>
                <p>Officiis sunt aliquam nemo voluptatibus molestias iusto!</p>
            </div>
        </div>
        <div class="advantages__item advantage">
            <div class="advantage__photo">
                <img [src]="'assets/cauldron.png'" alt="">
            </div>                    
            <div class="advantage__text">
                <h3>Turistic food</h3>
                <p>Odit atque numquam, corporis hic explicabo voluptas?</p>
            </div>
        </div>
    </div>
    <div class="reasons__item reason-2">
        <div class="reason-2__item">
            <h2>Amazing emotions</h2>
            <p>— №2 —</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum, rerum vitae dolor accusamus at.</p>
        </div>
        <div class="reason-2__photo">
        </div>
    </div>
    <div class="reasons__item reason-3-5">
        <div class="reason-3-5__item">
            <h2>Great photos</h2>
            <p>— №3 —</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsa.</p>
        </div>
        <div class="reason-3-5__item middle">
            <h2>Cheap prices</h2>
            <p>— №4 —</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo!</p>
        </div>
        <div class="reason-3-5__item">
            <h2>Small groups</h2>
            <p>— №5 —</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum modi aut temporibus.</p>
        </div>
    </div>
    <div class="reasons__item reason-6">
        <div class="reason-6__item">
            <h2>Beautiful nature</h2>
            <p>— №6 —</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, dolor? Lorem ipsum, dolor sit 
            amet consectetur adipisicing elit. Natus, optio. Lorem ipsum dolor, sit amet consectetur.</p>
        </div>
        <div class="reason-6__photo">
        </div>
    </div>
<div class="question">
    <h2>Are you still not with us?</h2>
    <p>Itaque quis delectus at! Ullam quia enim dolorum hic veritatis.</p>
    <img [src]="'assets/group.png'" alt="">     
</div>



