<div class="gallery">
    <div class="gallery__heading">
        <h2>View the amazing photos</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Optio laboriosam aliquid dicta explicabo ad similique maxime dolorem deleniti neque esse.</p>
    </div>
    <div class="gallery__block">
        <div class="gallery__block_item"> 
            <p>Siguang Ri, China</p>
        </div>
        <div class="gallery__block_item">
            <p>Logan, Canada</p>
        </div>
        <div class="gallery__block_item">
           <p>Noshaq, Pakistan</p>
        </div>
        <div class="gallery__block_item">
          <p>King Peak, Canada</p>
        </div>
        <div class="gallery__block_item">
           <p>Jongsong Peak, India</p>
        </div>
        <div class="gallery__block_item">
          <p>Juno, Alaska</p>
        </div>
        <div class="gallery__block_item">
            <p>Akonkagua, USA</p>
        </div>
        <div class="gallery__block_item">
            <p>Liskamm, Switzerland</p>
        </div>
        <div class="gallery__block_item">
            <p>Mon Modi, France</p>
        </div>
        <div class="gallery__block_item">
          <p>University, Alaska</p>
        </div>
        <div class="gallery__block_item">
          <p>La Plata, USA</p> 
        </div>
        <div class="gallery__block_item">
           <p>Sanford, Alaska</p>
        </div>
        <div class="gallery__block_item">
           <p>Grace Peak, USA</p>
        </div>
        <div class="gallery__block_item">
          <p>Demavend, Iran</p>
        </div>
        <div class="gallery__block_item">
           <p>Matterhorn, Italy</p>
        </div>
        <div class="gallery__block_item">
           <p>Laggerhorn, Switzerland</p>
        </div>
        <div class="gallery__block_item">
           <p>Foraker, Alaska</p>
        </div>
        <div class="gallery__block_item">
           <p>Pakku San, Pakistan</p>
        </div>
        <div class="gallery__block_item">
           <p>Muztagh Ata, China</p>
        </div>
        <div class="gallery__block_item">
            <p>Mamostong Kangri, India</p>
        </div>
        <div class="gallery__block_item">
           <p>Gangkhar Puensum, Bhutan</p>
        </div>
        <div class="gallery__block_item">
          <p>Lhotse, Nepal</p>
        </div>
        <div class="gallery__block_item">
           <p>Kamet, India</p>
        </div>
        <div class="gallery__block_item">
           <p>Mandala, Indonesia</p>
        </div>
        <div class="gallery__block_item">
           <p>Tirich Mir, Pakistan</p>
        </div>
        <div class="gallery__block_item">
            <p>Hayes, Alaska</p>
        </div>
        <div class="gallery__block_item">
           <p>Debora, Alaska</p>
        </div>
        
    </div>
</div>