<div class="app">
  <div id="nav-icon" class='open'>
        <span></span>
        <span></span>
        <span></span>
      </div>
  <div class='navigation' id="navigation">
    <img class="navigation__logo" [src]="'assets/navigation-logo.png'" alt="">
    <ul class='navigation__menu'>
        <li><a routerLink="/main">Main</a></li>
        <li><a routerLink="/trips">Trips</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/academy">Blog</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="footer__hash">#visitThroughTheMountain</div>
      <div class="footer__buttons">
        <a href="https://twitter.com" target="_blank"><button><img [src]="'assets/icon-twitter.png'" alt=""></button></a>
        <a href="https://uk-ua.facebook.com" target="_blank"><button><img [src]="'assets/icon-facebook.png'" alt=""></button></a>
        <a href="https://www.youtube.com" target="_blank"><button><img [src]="'assets/icon-youtube.png'" alt=""></button></a>
      </div>
    <div class="footer__developed">Developed by: Inna Zinovieva
    </div>
  </div>
</div>
