<div class="blog">  
    <div class="blog__heading">
        <h2>blog</h2>
    </div>
    <div class="blog__news news">
        <div class="news__heading">
            <h1>Latest news</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, maiores omnis iusto laboriosam est, dignissimos accusamus repellendus earum debitis, quae rem obcaecati ducimus harum labore!</p>
        </div>
        <div class="news__item article">
            <div class="article__block">
                <div class="article__img first"></div>
                <div class="article__body">
                    <p>1st March 2018</p>
                    <h2>The number of achieves is extracted from the Alpine Club</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo.</p>
                </div>
            </div>
            <div class="article__block">
                <div class="article__img second"></div>
                <div class="article__body">
                    <p>3rd March 2018</p>
                    <h2>Everest IS parent to K2 by the definition of topographic prominence.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, animi hic alias tempora architecto, ipsum blanditiis repellat possimus maiores tenetur et vero explicabo? Atque laborum totam.</p>
                </div>
            </div>
            <div class="article__block">
                <div class="article__img third"></div>
                <div class="article__body">
                    <p>4th March 2018</p>
                    <h2>The "High Mountain Info" section of the "High Mountain Sports Magazine"</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellat veniam consequuntur ad! Molestiae ab illum dolorem quae nobis exercitationem repellat distinctio omnis impedit maiores!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blog__comments comments">
        <div class="comments__heading">
            <h1>Comments from our clients</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, maiores omnis iusto laboriosam est, dignissimos accusamus repellendus earum debitis, quae rem obcaecati ducimus harum labore!</p>
        </div>
        <div class="comments__item comment">
            <div class="comment__block">
                <div class="comment__img first-comment"></div>
                <div class="comment__photo">
                    <img [src]="'assets/comment__photo-1.jpg'" alt="">
                </div>
                <div class="comment__body">
                    <p>8st October 2017</p>
                    <h2>My amazing trip yo Sunanda Devi</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nemo iusto magni repellendus quidem. Ex, quas sequi! Rem excepturi optio expedita labore officia distinctio omnis pariatur, quis debitis voluptas, saepe numquam quibusdam cupiditate repudiandae nostrum illo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse qui aspernatur a enim.</p>          
                </div>
            </div>
            <div class="comment__block">
                <div class="comment__img second-comment"></div>
                <div class="comment__photo">
                    <img [src]="'assets/comment__photo-2.jpg'" alt="">
                </div>
                <div class="comment__body">
                    <p>3rd December 2017</p>
                    <h2>It was the best journey i have ever had</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, accusamus non consectetur eveniet nesciunt sit architecto fugiat dolorem consequuntur, impedit, maxime iste dolor quos. Impedit, asperiores.Reprehenderit, animi hic alias tempora architecto, ipsum blanditiis repellat possimus maiores tenetur et vero explicabo? Atque laborum totam.</p>
                </div>
            </div>
            <div class="comment__block">
                <div class="comment__img third-comment"></div>
                <div class="comment__photo">
                    <img [src]="'assets/comment__photo-3.jpg'" alt="">
                </div>
                <div class="comment__body">
                    <p>4th March 2018</p>
                    <h2>It was really cool trip to the Canadian mountains</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellat veniam consequuntur ad! Molestiae 
                        ab illum dolorem quae nobis exercitationem repellat distinctio omnis impedit maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, rerum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat corrupti delectus accusamus!</p>
                </div>
            </div>
        </div>
    </div>
</div> 
